rules:
    - Shopware\PhpStan\Rule\ClassExtendUsesAbstractClassWhenExisting
    - Shopware\PhpStan\Rule\DisallowDefaultContextCreation
    - Shopware\PhpStan\Rule\DisallowFunctionsRule
    - Shopware\PhpStan\Rule\DisallowSessionFunctionsRule
    - Shopware\PhpStan\Rule\ForbidGlobBraceRule
    - Shopware\PhpStan\Rule\InternalClassExtendsRule
    - Shopware\PhpStan\Rule\InternalFunctionCallRule
    - Shopware\PhpStan\Rule\InternalMethodCallRule
    - Shopware\PhpStan\Rule\MethodBecomesAbstractRule
    - Shopware\PhpStan\Rule\NoDALFilterByID
    - Shopware\PhpStan\Rule\NoSessionInPaymentHandlerAndStoreApiRule
    - Shopware\PhpStan\Rule\NoSymfonySessionInConstructorRule
    - Shopware\PhpStan\Rule\NoUserEntityGetStoreTokenRule
    - Shopware\PhpStan\Rule\ScheduledTaskTooLowIntervalRule
    - Shopware\PhpStan\Rule\SetForeignKeyRule
    - Shopware\PhpStan\Rule\NoEntityRepositoryInLoopRule
    - Shopware\PhpStan\Rule\NoSuperglobalsRule
    - Shopware\PhpStan\Rule\ForbidLocalDiskWriteRule
    - Shopware\PhpStan\Rule\BestPractise\PreferRouteEventRule
    - Shopware\PhpStan\Rule\BestPractise\DALDefinitionRule
    - Shopware\PhpStan\Rule\ForwardSalesChannelContextToSystemConfigServiceRule
    - Shopware\PhpStan\Rule\ForbidPredictableSaltRule
    - Shopware\PhpStan\Rule\ForbidWeakCryptoKeyRule
    - Shopware\PhpStan\Rule\ForbidInsecureCookieRule
    - Shopware\PhpStan\Rule\ForbidInsecureSymfonyCookieRule
    - Shopware\PhpStan\Rule\ForbidDisabledSslVerificationRule
    - Shopware\PhpStan\Rule\NoEmptyResponseRule

services:
    -
        class: Shopware\PhpStan\Type\CollectionHasSpecifyingExtension
        tags:
            - phpstan.typeSpecifier.methodTypeSpecifyingExtension

    -
        class: Shopware\PhpStan\Collector\DALDefinitionCollector
        tags:
            - phpstan.collector

    -
        class: Shopware\PhpStan\Collector\DALEntityCollector
        tags:
            - phpstan.collector
