rules:
    - Shopware\PhpStan\Rule\InternalFunctionCallRule
    - Shopware\PhpStan\Rule\InternalMethodCallRule
    - Shopware\PhpStan\Rule\DisallowFunctionsRule
    - Shopware\PhpStan\Rule\DisallowDefaultContextCreation
